{% extends "base.html" %}
{% block content %}
<h2>Admin Panel – User Management</h2>

<table style="width:100%; border-collapse: collapse;">
    <tr>
        <th>Username</th>
        <th>Role</th>
        <th>Actions</th>
    </tr>

    {% for u in users %}
    <tr>
        <td>{{ u.username }}</td>
        <td>{{ u.role }}</td>
        <td>


            <a href="{{ url_for('admin_edit_user', uid=u._id) }}">Edit</a>


            <form action="{{ url_for('admin_delete_user', uid=u._id) }}"
                  method="post" style="display:inline-block; margin-left:10px;">
                <button type="submit"
                        onclick="return confirm('Delete this user?')">
                    Delete
                </button>
            </form>

        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}